<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>960739178858-jhvhpevstli14ldo3lqt2sot6nq6m9dk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.960739178858-jhvhpevstli14ldo3lqt2sot6nq6m9dk</string>
	<key>API_KEY</key>
	<string>AIzaSyBGemKBdmLUbaIXC2tPcrXj781iq12JdLs</string>
	<key>GCM_SENDER_ID</key>
	<string>960739178858</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>biz.Troublemaker.FloatingTower2</string>
	<key>PROJECT_ID</key>
	<string>floating-31b64</string>
	<key>STORAGE_BUCKET</key>
	<string>floating-31b64.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:960739178858:ios:1406d0c316e67187</string>
	<key>DATABASE_URL</key>
	<string>https://floating-31b64.firebaseio.com</string>
</dict>
</plist>